<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323849334771-7cal46171bj39199jn4n899e0pt93o82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323849334771-7cal46171bj39199jn4n899e0pt93o82</string>
	<key>API_KEY</key>
	<string>AIzaSyAGLavLN8Q_-Iq8qbcucZ1N0o1O7xJIcbE</string>
	<key>GCM_SENDER_ID</key>
	<string>323849334771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitmom.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>amica-ee087</string>
	<key>STORAGE_BUCKET</key>
	<string>amica-ee087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323849334771:ios:b212bce8fcd476a8356c86</string>
</dict>
</plist>